 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>  
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/time.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#Login").click(function () {
                var adminName = $("#adminName").val();
                var adminPwd = $("#adminPwd").val();
                var code = $("#code").val();
                $.ajax({
                    url: "/AdminLogin/AdminLogin",
                    type: "post",
                    data: {
                        adminName: adminName,
                        adminPwd: adminPwd,
                        code:code,
                    },
                    success: function (data) {
                        if (data == "null") {
                            alert("用户名和密码不能为空");
                        }
                        if (data == "false") {
                            alert("登录失败");
                        }
                        if (data == "ture") {
                            window.location.href = "/GetBookMsg/Index";
                        }
                        if (data == "past") {
                            alert("验证码过期");
                        }
                        if (data == "out") {
                            alert("验证码错误");
                        }
                    }
                })
            });
        });
    </script>
    <style>
        input.form-control {
            width: 78%;
        }
    </style>
</head>
<body background="~/Content/themes/base/images/bj1.jpg">
    <!--顶部-->
    <div class="container">
        <nav class="navbar navbar-default container">
            <div class="row log">
                <div class="col-lg-4">
                    <a href="#">
                        <img alt="图片丢失" src="~/Content/themes/base/images/log.jpg" />
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#">
                        <img alt="图片丢失" src="~/Content/themes/base/images/kjyy.png" />
                    </a>
                </div>
                <div class="col-lg-4">
                    <p><span id="current-time">2017/12/22 下午6:30:30</span></p>
                    <p><span>可预约座位数1000</span></p>
                </div>
            </div>
        </nav>
    </div>
    <!--中部-->
    <div class="container">
        <!--中部1，空div调整位置-->
        <div class="col-lg-3"></div>
        <div id="showInfo"></div>
        <div class="col-lg-6 middle">
            <fieldset>
                <legend style="text-align: center">管理员登录</legend>
                <form action="" method="post">
                    <div class="form-group">
                        <div class="col-lg-offset-3">
                            <label for="inputID">管理员：</label>
                            <input type="text" class="form-control" id="adminName">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-3">
                            <label for="inputPassword">密码：</label>
                            <input type="text" class="form-control" id="adminPwd">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-3">
                            <label for=" ">验证码：</label>
                            <img src="/AdminLogin/Code"><span><a>看不清</a></span>
                            <input type="text" class="form-control" id="code">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">记住管理员和密码
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-5">
                            <button type="reset" class="btn btn-default">重置</button>
                            <button type="button" class="btn btn-default" id="Login">登录</button>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <!--底部-->
    <div class="container text-center col-lg-8 col-lg-offset-2">
        <address>
            <strong>&#169;文华学院</strong><br>
            湖北省，武汉市，洪山区<br>
            关山街道，文园路8号
            <abbr title="联系电话">Tel:027-87599065</abbr>
            <p>技术支持：<a href="">引航工作室</a></p>
        </address>
    </div>
</body>
</html>