<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理界面</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/index_h.css" rel="stylesheet" />
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/index_h.js"></script>
    <script src="~/js/time.js"></script>
    <script src="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.min.js"></script>
    <link href="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.min.css" rel="stylesheet">
    
</head>
<body>
    <!--顶部log-->
    <div class="container">
        <nav class="navbar navbar-right container">
            <div class="row log">
                <div class="col-lg-4">
                    <a href="#">
                        <img alt="图片丢失" src="~/Content/themes/base/images/log.jpg" />
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#">
                        <img alt="图片丢失" src="~/Content/themes/base/images/kjyy.png">
                    </a>
                </div>
                <div class="col-lg-4">
                    <p><span id="current-time">2017/12/22 下午6:30:30</span></p>
                    <p><span>可预约座位数1000</span></p>
                </div>
            </div>
        </nav>
    </div>
    <!--左侧功能导航-->
    <div class="container col-lg-1 col-lg-offset-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active" id="li1"><a href="#">预约<br />信息</a></li>
            <li role="presentation" id="li2"><a href="#">统计<br />信息</a></li>
            <li role="presentation" id="li3"><a href="#">导出<br />信息</a></li>
            <li role="presentation" id="li4"><a href="#">退出<br />系统</a></li>
        </ul>
    </div>
    <!--信息显示-->
    <div class="container col-lg-7" id="div01">
        <!--信息栏-->
        <div id="div2">
            <!--使用jQuery-ajax技术加载后台预约信息显示界面-->
            <div id="table"></div>
        </div>
    </div>
    
    
</body>
</html>
