/*清除默认样式*/
body, h1, h2, h3, h4, h5, h6, blockquote, div, p, pre, dl, dd, ol, ul, li, caption, th, td, form, fieldset, legend, input, button, textarea {margin: 0;padding: 0;}
ul, ol, li {list-style-type: none;}
/*为顶部导航图片添加圆角*/
#log{border:5px solid slategray;border-radius:6px 6px 6px 6px;width: 66%;text-align: left;margin-bottom: 5px}
.topFont{float: left;}
.ml{margin-left: 8%;}
p{font-size: 16px;font-family: 宋体;}
/*隐藏系统公告，系统维护专用*/
#gg{display:none;}
/*使预约信息功能全部隐藏*/
#htm2{display:none;float:left;height: 360px;width: 50%;margin: 1px auto;border: #ddd solid 6px;text-align: left; padding:8%;size: 22px; }
#htm1{float:left;height: 475px;width: 56%;margin: 1px auto;border: #ddd solid 6px;text-align: center;}
/***座位表样式***/
div.seatCharts-cell {color: #182C4E;height: 25px;width: 25px;line-height: 25px;margin: 3px;float: left;text-align: center;outline: none;font-size: 13px;}
div.seatCharts-seat {color: #fff;cursor: pointer;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius: 5px;}
div.seatCharts-row {height: 35px;}
div.seatCharts-seat.available {color:#B9DEA0;}
div.seatCharts-seat.focused {color:#76B474;border: none;}
div.seatCharts-seat.selected {color:#E6CAC4;}
div.seatCharts-seat.unavailable {color:#472B34;cursor: not-allowed;}
div.seatCharts-container {border-right: 1px dotted #adadad;width: 400px;padding: 20px;float: left;}
div.seatCharts-legend {padding-left: 30px;position: absolute;bottom: 16px;text-align: center}
.seatCharts-legendItem{float:left; width:90px;margin-top: 10px;line-height: 2;}
span.seatCharts-legendDescription {margin-left: 5px;line-height: 30px;}
.checkout-button {display: block;width:80px; height:24px; line-height:20px;margin: 10px auto;border:1px solid #999;font-size: 14px; cursor:pointer}
#selected-seats {max-height: 150px;overflow-y: auto;width: 200px;}
#selected-seats li{float:left; width:72px; height:26px; line-height:26px; border:1px solid #d3d3d3; background:#f7f7f7; margin:6px; font-size:14px; font-weight:bold; text-align:center}
/********/
.booking-details {float: left;position: relative;width:200px;height: 450px;margin: 10px 5px 0 0;font-size: 16px;}
.booking-details p{line-height:26px; font-size:16px; color:#999;}
.left{ display: block;margin-left: auto;margin-right: auto;}
.front{width: 300px;margin: 5px 32px 45px 32px; color: #666;text-align: center;padding: 3px;border-radius: 5px;}
.font2{font-size: 16px; color: #999;font-family: 宋体;}